.card{
    display:inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 70px;
    height: 100px;
    perspective: 140px;
}

.card-inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d; /* 3d효과 */
}

.card.flipped .card-inner{
    transform: rotateY(180deg); /* 회전 */
}

.card-front{
    background: navy;
}

.card-front, .card-back{
    position: absolute; /* 카드 앞면과 뒷면 겹치기 */
    width: 100%;
    height: 100%;
    border: 1px solid black;
    backface-visibility: hidden;
}

.card-back{
    transform: rotateY(180deg);
}

#wrapper{
    width: 360px;
    height: 420px;
}